<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="newBook-form">
            <form id="formData" #bookData="ngForm">
                <h3>I read another book! </h3>
                <div class="input-container">
                    <div class="item">
                        <input type="string" class="form-control" placeholder="Author name" name="author" ngModel>
                    </div>
                    <div class="item">
                        <input type="string" class="form-control" placeholder="Book name" name="bookName" ngModel>
                    </div>
                    <div class="item">
                        <input type="date" class="form-control" placeholder="Date" name="date" ngModel>
                    </div>
                    <div class="item">
                        <input type="string" class="form-control" placeholder="Book genre" name="genre" ngModel>
                    </div>
                    <div class="item">
                        <input type="string" class="form-control" placeholder="Rank the book" name="rank" ngModel>
                    </div>
                </div>
                <button id="add" type="submit" (click)="add(bookData.value)">Add</button>
                <h5>{{messageConfirmation}}</h5>
            </form>
        </div>
    </div>
</div>