<html>

<body>
    <div class="main">
        <div class="col-md-6 col-sm-12">
            <div class="forgotPassword-form">
                <form id="formData" #userData="ngForm">
                    <h2>Enter your email and your password will be sent there</h2>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="email" ngModel email>
                    </div>
                    <button type="submit" class="btn btn-black" (click)="sendEmail(userData.value)">Send</button>
                    <button type="submit" class="btn btn-secondary" (click)="goToLogin()">Back to login</button>
                    <h5>{{messageConfirmation}}</h5>
                </form>
            </div>
        </div>
    </div>

</body>

</html>