<html>

<body>
    <h5>Welcome to your book site!</h5>
    <h5>Here you can save all the books you read.</h5>
    <hr>
    <h6> A few quotes to motivate you:</h6>
    <p># “A reader lives a thousand lives before he dies . . . The man who never reads lives only one.” – George R.R. Martin</p>
    <p># “Never trust anyone who has not brought a book with them.” – Lemony Snicket</p>
    <p># “The more that you read, the more things you will know. The more that you learn, the more places you’ll go.” – Dr. Seuss</p>
    <p># “It’s not that I don’t like people. It’s just that when I’m in the company of others – even my nearest and dearest – there always comes a moment when I’d rather be reading a book.” – Maureen Corrigan</p>
    <p># “If you don’t like to read, you haven’t found the right book.” – J.K. Rowling</p>
</body>

</html>